/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css');
/*
@import url('fontawesome.min.css');
@import url('all.min.css');
*/
@import url('utility.css');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*
    border: 0.2px solid red;
	*/
}

:root {
	--padding-xxs: calc(1rem * 0.25);
	--padding-xs: calc(1rem * 0.5);
	--padding-s: calc(1rem * 0.75);
	--padding-m: calc(1rem * 1);
	--padding-l: calc(1rem * 1.25);
	--padding-xl: calc(1rem * 1.5);
	--padding-xxl: calc(1rem * 1.75);

	--gap-xxs: calc(1rem * 0.25);
	--gap-xs: calc(1rem * 0.5);
	--gap-s: calc(1rem * 0.75);
	--gap-m: calc(1rem * 1);
	--gap-l: calc(1rem * 1.25);
	--gap-xl: calc(1rem * 1.5);
	--gap-xxl: calc(1rem * 1.75);

	--border-radius-s: calc(1rem * 0.4375);
	--border-radius-m: calc(1rem * 0.53125);
	--border-radius-l: calc(1rem * 0.625);
	--border-radius-o: 50%;

	--duration-transition-xxs: 0.05s;
	--duration-transition-xs: 0.2s;
	--duration-transition-s: 0.35s;
	--duration-transition-m: 0.5s;
	--duration-transition-l: 0.65s;
	--duration-transition-xl: 0.8s;
	--duration-transition-xxl: 0.95s;

	--sz-arow-tooltip: 0.35rem;
	--width-sidebar: 20rem;

	color-scheme: dark;
	--clr-scheme: black;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 200vh;
	background: linear-gradient(to top, #ffeb77, #8bbcff);
}

/* --------------------------------------- */

/* general sidebar */
.idz-sidebar {
	/* color variabel */
	--_clr-base: #11121a;
	--_clr-line: #42434a;
	--_clr-hover: #222533;
	--_clr-accent: #5e63ff;

	--_clr-text: #e6e6ef;
	--_clr-text-secondary: #b0b3c1;

	/* --_clr-base: hsl(55, 20.9%, 8.4%);
    --_clr-line: hsl(55, 5.7%, 27.5%);
    --_clr-hover: hsl(55, 20%, 16.7%);
    */
	--_clr-accent: hsl(55, 100%, 68.4%);

	--_width-sidebar: var(--width-sidebar);
	--_height-item: 1.5rem;
	position: fixed;
	z-index: 999;
	top: 0;
	width: var(--_width-sidebar);
	height: 100vh;
	height: 100dvh;
	padding: var(--padding-s) var(--padding-xs);
	display: flex;
	flex-direction: column;
	gap: var(--padding-xxs);
	transition:
		width var(--duration-transition-m) ease-in-out,
		height var(--duration-transition-m) ease-in-out;

	/* coloring */
	background: var(--_clr-base);
	color: var(--_clr-text-secondary);
} /* collapse sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-sidebar {
	--_width-sidebar: calc(var(--_height-item) + (var(--padding-xs) * 4));
} /* mobile */
@media (max-width: 785px) {
	/* collapse sidebar */
	.idz-sidebar,
	body:has(
			.idz-sidebar
				.idz-toggle-sidebar
				input[type='checkbox']:not(:checked)
		)
		.idz-sidebar {
		--_width-sidebar: var(--width-sidebar);
		width: 90%;
		max-width: var(--_width-sidebar);
		transition: transform var(--duration-transition-m) ease-in-out;
		transform: translateX(-100%);
	} /* expand sidebar */
	body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:checked)
		.idz-sidebar {
		--_width-sidebar: var(--width-sidebar);
		width: 90%;
		max-width: var(--_width-sidebar);
		transform: translateX(0);
	}
}

/* --------------------------------------- */

/* general hr => sidebar */
.idz-sidebar hr {
	margin: var(--padding-xxs);

	/* coloring */
	border-color: var(--_clr-line);
}

/* --------------------------------------- */

/* general item => sidebar */
.idz-sidebar .idz-menu-item {
	width: 100%;
	height: calc(var(--_height-item) + var(--padding-xs) * 2);
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: var(--border-radius-l);
	transition:
		width var(--duration-transition-m) ease-in-out,
		background var(--duration-transition-m) ease-in-out;

	&:hover {
		/* coloring */
		color: var(--_clr-text);
		background: var(--_clr-hover);
	}

	&:hover .idz-icon-item {
		/* coloring */
		color: var(--_clr-accent);
	}
} /* checked dropdown => sidebar */
.idz-sidebar
	.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
	.idz-menu-item {
	/* coloring */
	color: var(--_clr-text);
	background: var(--_clr-hover);

	& .idz-icon-item {
		/* coloring */
		color: var(--_clr-accent);
	}
}

/* --------------------------------------- */

/* general icon item => sidebar */
.idz-sidebar .idz-menu-item .idz-icon-item {
	position: relative;
	z-index: 888;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--_height-item) * 0.75);
	min-width: calc(var(--_height-item) + var(--padding-m));
	height: calc(var(--_height-item) + var(--padding-m));
	border-radius: var(--border-radius-l);
	transition: color var(--duration-transition-m) ease-in-out;
}

/* --------------------------------------- */

/* general text item => sidebar */
.idz-sidebar .idz-menu-item .idz-text-item {
	position: relative;
	width: max-content;
	text-wrap: nowrap;
	padding: var(--padding-xxs) var(--padding-s);
	border-radius: var(--border-radius-s);
	transition:
		font-size var(--duration-transition-m) ease-in-out,
		visibility var(--duration-transition-m) ease-in-out,
		opacity var(--duration-transition-m) ease-in-out,
		transform var(--duration-transition-m) ease-in-out,
		background var(--duration-transition-m) ease-in-out,
		color var(--duration-transition-m) ease-in-out,
		width var(--duration-transition-m) ease-in-out;

	/* general arow tooltip */
	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 0;
		opacity: 0;
		transform: translateX(-100%) translateY(-50%);
		border-inline-width: calc(var(--sz-arow-tooltip) * 0.65);
		border-block-width: var(--sz-arow-tooltip);
		border-style: solid;
		transition: opacity var(--duration-transition-m) ease-in-out var(--duration-transition-xxl);

		/* coloring */
		border-color: transparent;
		border-right-color: var(--_clr-hover);
	}
} /* collapse text item => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-sidebar
	.idz-menu-item
	.idz-text-item {
	font-size: 0.85em;
	transform: translateX(calc(var(--padding-xs) * 3));
	visibility: hidden;
	opacity: 0;
	transition:
		font-size var(--duration-transition-m) ease-in-out,
		visibility 0s ease-in-out,
		opacity var(--duration-transition-m) ease-in-out
			var(--duration-transition-xxl),
		transform var(--duration-transition-m) ease-in-out,
		background var(--duration-transition-m) ease-in-out,
		width var(--duration-transition-m) ease-in-out;

	/* coloring */
	background: var(--_clr-hover);
} /* active text item (tooltip) => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-sidebar
	.idz-menu-item:not(:has(input[type='checkbox'].idz-radio:checked))
	.idz-icon-item:hover
	+ .idz-text-item {
	visibility: visible;
	opacity: 1;

	/* active arow tooltip */
	&::before {
		opacity: 1;
	}
}

/* --------------------------------------- */

/* general dropdown */
.idz-sidebar .idz-dropdown {
	position: relative;
	border-radius: var(--border-radius-l);
	height: calc(var(--_height-item) + var(--padding-m));
	transition: flex-grow var(--duration-transition-m) ease-in-out;
} /* active dropdown => sidebar */
.idz-sidebar .idz-dropdown:has(input[type='checkbox'].idz-radio:checked) {
	flex-grow: 1;
} /* collapse dropdown => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-sidebar
	.idz-dropdown {
	flex-grow: 0;
}

/* --------------------------------------- */

/* general icon dropdown => global */
.idz-icon-dropdown {
	--_height-item: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--_height-item) * 0.75);
	min-width: calc(var(--_height-item) + var(--padding-m));
	height: calc(var(--_height-item) + var(--padding-m));
	border-radius: var(--border-radius-l);
	margin-left: auto;
	margin-right: var(--padding-xxs);
	opacity: 1;
	border-radius: var(--border-radius-o);
	transition:
		transform var(--duration-transition-m) ease-in-out,
		opacity var(--duration-transition-m) ease-in-out
			var(--duration-transition-m);
} /* collapse icon dropdown => global */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-icon-dropdown {
	visibility: hidden;
	opacity: 0;
} /* active icon dropdown => global */
.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
	.idz-menu-item
	.idz-icon-dropdown {
	transform: rotate(-180deg);
}

/* --------------------------------------- */

/* general dropdown container => global */
.idz-dropdown-container {
	visibility: hidden;
	opacity: 0;
	height: max-content;
	height: calc(100% - var(--_height-item) - var(--padding-m));
	border-radius: var(--border-radius-l);
	transition:
		opacity var(--duration-transition-m) ease-in-out,
		flex-grow var(--duration-transition-m) ease-in-out,
		height var(--duration-transition-m) ease-in-out,
		transform var(--duration-transition-m) ease-in-out;

	/* coloring */
	background: color-mix(in oklab, var(--_clr-hover) 85%, var(--clr-scheme));

	/* arow tooltip */
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		opacity: 0;
		transform: translateX(-100%)
			translateY(
				calc(
					(
							var(--_height-item) + var(--padding-s) -
								var(--sz-arow-tooltip)
						) * 0.5
				)
			);
		border-inline-width: calc(var(--sz-arow-tooltip) * 0.65);
		border-block-width: var(--sz-arow-tooltip);
		border-style: solid;
		transition: opacity var(--duration-transition-m) ease-in-out;

		/* coloring */
		border-color: transparent;
		border-right-color: var(--_clr-hover);
	}
} /* active dropdown container => global */
.idz-sidebar
	.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
	.idz-dropdown-container {
	visibility: visible;
	opacity: 1;
} /* collapse dropdown container => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-dropdown
	.idz-dropdown-container {
	position: relative;
	min-width: var(--width-sidebar);
	height: max-content;
	transform: translateX(calc(var(--_height-item) + (var(--padding-xs) * 5)))
		translateY(calc((var(--_height-item) + var(--padding-m)) * -1));

	/* arow tooltip */
	&::before {
		opacity: 1;
	}
}

/* --------------------------------------- */

/* general dropdown wrapper => global */
.idz-dropdown-container .idz-dropdown-wrapper {
	visibility: hidden;
	font-size: 0.85rem;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	gap: var(--gap-xxs);
	overflow-y: scroll;
	padding-block: var(--padding-xxs);
	border-radius: var(--border-radius-l);
	box-shadow:
		0 1rem 1rem -1rem var(--_clr-base) inset,
		0 -1rem 1rem -1rem var(--_clr-base) inset;
	transition:
		opacity var(--duration-transition-m) ease-in-out,
		height var(--duration-transition-m) ease-in-out,
		transform var(--duration-transition-m) ease-in-out;
} /* active dropdown wrapper => global */
.idz-sidebar
	.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
	.idz-dropdown-container
	.idz-dropdown-wrapper {
	visibility: visible;
	opacity: 1;
} /* collapse dropdown wrapper => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-dropdown
	.idz-dropdown-container
	.idz-dropdown-wrapper {
	max-height: 15rem;
}

/* --------------------------------------- */

/* general dropdown item => global */
.idz-dropdown-container .idz-dropdown-wrapper .idz-dropdown-item {
	margin-inline: var(--padding-xxs);
	opacity: 0;
	margin-bottom: var(--padding-xxl);
	transition:
		margin-bottom calc(var(--duration-transition-m) * 1.5) ease-in-out
			var(--duration-transition-m),
		background calc(var(--duration-transition-m) * 1.5) ease-in-out,
		opacity calc(var(--duration-transition-m) * 2) ease-in-out
			var(--duration-transition-m);

	/* coloring */
	&:hover {
		background: var(--_clr-hover);
	}
} /* active dropdown item => global */
.idz-sidebar
	.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
	.idz-dropdown-container
	.idz-dropdown-item {
	opacity: 1;
	margin-bottom: 0;
}

/* --------------------------------------- */

/* general toggle sidebar => sidebar */
.idz-sidebar .idz-menu-item.idz-toggle-sidebar {
	margin-top: auto;
} /* collapse icon item toggle sidebar => sidebar */
.idz-sidebar .idz-menu-item.idz-toggle-sidebar .idz-icon-item {
	transition: transform var(--duration-transition-m) ease-in-out;
	transform: rotate(180deg);
} /* collapse icon item toggle sidebar => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:checked)
	.idz-sidebar
	.idz-menu-item.idz-toggle-sidebar
	.idz-icon-item {
	transform: rotate(0deg);
} /* general text item toggle sidebar => sidebar */
.idz-sidebar .idz-menu-item.idz-toggle-sidebar .idz-text-item {
	padding: var(--padding-xxs) 0;
} /* general text item toggle sidebar using '::after' => sidebar */
.idz-menu-item.idz-toggle-sidebar .idz-text-item::after {
	position: static;
	content: 'collapse sidebar';
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	width: max-content;
	text-wrap: nowrap;
	padding: var(--padding-xxs) var(--padding-s);
	border-radius: var(--border-radius-s);
	transition:
		font-size var(--duration-transition-m) ease-in-out,
		visibility var(--duration-transition-m) ease-in-out,
		opacity var(--duration-transition-m) ease-in-out
			var(--duration-transition-xs),
		transform var(--duration-transition-m) ease-in-out,
		background var(--duration-transition-m) ease-in-out,
		width var(--duration-transition-m) ease-in-out;
} /* collapse text item toggle using '::after' => sidebar */
body:has(.idz-sidebar .idz-toggle-sidebar input[type='checkbox']:not(:checked))
	.idz-menu-item.idz-toggle-sidebar
	.idz-text-item::after {
	content: 'expand sidebar';
}

/* --------------------------------------- */

@media (max-width: 785px) {
	body:has(
			.idz-sidebar
				.idz-toggle-sidebar
				input[type='checkbox']:not(:checked)
		)
		.idz-sidebar
		.idz-dropdown:has([type='checkbox'].idz-radio:checked) {
		flex-grow: 1;
	}

	body:has(
			.idz-sidebar
				.idz-toggle-sidebar
				input[type='checkbox']:not(:checked)
		)
		.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
		.idz-dropdown-container {
		height: calc(100% - var(--_height-item) - var(--padding-m));
		width: 100%;
		min-width: 100%;
		transform: translateX(0px) translateY(0px);
	}

	body:has(
			.idz-sidebar
				.idz-toggle-sidebar
				input[type='checkbox']:not(:checked)
		)
		.idz-dropdown:has(input[type='checkbox'].idz-radio:checked)
		.idz-dropdown-container
		.idz-dropdown-wrapper {
		height: 100%;
		max-height: 100%;
	}

	.idz-sidebar .idz-menu-item.idz-toggle-sidebar > * {
		display: none;
	}

	.idz-sidebar .idz-menu-item.idz-toggle-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: calc(100vw - var(--width-sidebar));
		height: auto;
		border-radius: 0;
		transform: translateX(100%);
		visibility: hidden;
		opacity: 0;
		transition:
			opacity var(--duration-transition-m) ease-in-out,
			visibility var(--duration-transition-m) ease-in-out;

		background: linear-gradient(to right, #00000040, #00000000);
	}

	.idz-sidebar:has(.idz-toggle-sidebar input[type='checkbox']:checked)
		.idz-menu-item.idz-toggle-sidebar {
		visibility: visible;
		opacity: 1;
	}
}
